{% extends "layout.html" %}
{% block title %}
Reset Password
{% endblock %}

{% block body %}
<body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post" action="{% url 'log_in:password_reset' %}">
              {% csrf_token %}
              <h1>Reset Password Form</h1>
              <div>
                {% for field in form %}
                          {{ field.errors }}
                          <label>{{ field.label_tag }} <span class="required">*</span>
                        </label>
                          <div>
                          {{ field }}
                        </div>
                          {% endfor %}
              </div>
              <div>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
              <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
