{% extends "layout.html" %}
{% block title %}
Reset Password
{% endblock %}

{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <br/><br/><br/><br/>
    <h3><center><li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></center></h3>
    {% endfor %}
</ul>
{% endif %}
<body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            {{ form.non_field_errors }}
              <form method="post" action="{% url 'log_in:password_reset_using_token' %}">
                <input type="hidden" name="email" class="form-control" placeholder="Email" required="" value="{{ email }}" />
                <input type="hidden" name="token" class="form-control" placeholder="TOKEN" required="" value="{{ token }}" />
                {% csrf_token %}
              <h1>Reset Password Form</h1>
             <div>
                                {% for field in form %}
                                          <br>
                                          {{ field.errors }}
                                          <label>{{ field.label_tag }} <span class="required"> *</span>
                                        </label>
                                          <div>
                                          {{ field }}
                                        </div>
                                          <br>
                                          {% endfor %}
                              </div>
              <div>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
              <div class="clearfix"></div>
              <div class="separator">
                <div class="clearfix"></div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
