{% extends "profile.html" %}
{% block title %}
Add User
{% endblock %}
{% block top_tiles %}{% endblock %}

{% block main_content %}
<div class="clearfix"></div>
<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Update User</h2>
                      <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <br/><br/><br/><br/>
                            <h3><center><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></center></h3>
                            {% endfor %}
                        </ul>
                        {% endif %}
                      <div class="login_wrapper">
                        <div class="animate form login_form">
                          <section class="login_content">
                            <form method="post" action="{% url 'log_in:update_user' id %}">
                              {% csrf_token %}
                              <div>
                                {% for field in form %}
                                          <br>
                                          {{ field.errors }}
                                          <label>{{ field.label_tag }} <span class="required">*</span>
                                        </label>
                                          <div>
                                          {{ field }}
                                        </div>
                                          <br>
                                {% endfor %}
                              </div>
                              <div>
                                <button type="submit" class="btn btn-success" name="add">UPDATE USER</button>
                              </div>
                              <div class="clearfix"></div>
                              <div class="separator">
                                <div class="clearfix"></div>
                                <br />
                              </div>
                            </form>
                          </section>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}

